<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{% block title %}{{ title }}{% endblock %}</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <meta charset="utf-8"/>
    
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/static/css/chat.css">
	<!-- <script type="text/javascript" src="/static/js/dev-vue.js"></script> -->
	{% block css %} {% endblock %}

	{% block js %}{% endblock %}
</head>
<body>
	<!-- Image and text -->
	<nav class="navbar navbar-light">
	  <a class="navbar-brand">
	    <!--img src="/static/img/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""-->
	    {{ title }}
	  </a>
	</nav>

	{% block content %}{% endblock %}
</body>
</html>